body {
  background-color: lightblue; }

.box_01 {
  width: 200px;
  height: 100px;
  background-color: salmon; }

.mask {
  width: 100px;
  height: 50px;
  border: 1px solid salmon;
  overflow: hidden; }
