// $txtcolor: aqua;
// $txtcolor2: red;
// $fz16: 70px;
@import "var";//引進其他scss用底線不會被寫進css
$box3:"box3";
$txtcolor3: rgb(114, 211, 250);

@mixin item( $box3, $bgc,$fz){
    .#{$box3}{
        width: 100vh;
        height: 300px;
        background-color: $bgc;
        font-size: $fz;
    }
}
// .#{$box3}{
//     color:$txtcolor3;
// }
.box{
    color: $txtcolor;
   
}
.box2{
    // @include item(pink);
    span {
        color:$txtcolor3;
      }
}
a{
    color:blue;
    &:hover{
        color: white;
        background-color: turquoise;
    }
}

@include item($box3,pink,60px);

@mixin nulltest($width ,$height,$bgc:null){
    width: $width;
    height: $height;
    background-color: $bgc;
}
.nulltest{
    @include nulltest(200px,200px,turquoise);
}